@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.carouselWrapper {
  position: relative;
  width: 100%;
  max-width: 1350px; 
  margin: 0 auto;
  padding: 0 20px; 
  box-sizing: border-box;
  @media (min-width: 768px) {
    padding: 0 30px;
  }
}

.carouselContainer {
  --carousel-edge: 20px;

  display: flex;
  gap: 18px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 100%;
  max-width: 1280px; 
  margin: 0 auto;
  padding: 20px var(--carousel-edge);
  box-sizing: border-box;
  scroll-padding-inline: var(--carousel-edge);
  @media (min-width: 768px) {
    --carousel-edge: 30px;
    > * {
      flex-basis: calc((100% - 36px) / 3);
    }
  }

  @media (min-width: 1200px) {
    > * {
      flex-basis: calc((100% - 54px) / 4);
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  > * {
    scroll-snap-stop: always;
  }
}

.navButton {
  @include button-reset;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-color: $color-white;
  border-radius: 50%;
  @include flex-center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
  transition: transform 0.2s, opacity 0.2s;

  &:hover {
    color: $color-primary;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  }

  &.prev {
    left: 5px; 
    font-weight: 100;

    @media (min-width: 768px) {
      left: 0px; 
    }
  }

  &.next {
    right: 5px;
    @media (min-width: 768px) {
      right: 0;
    }
  }
}

.iconNext {
  transform: rotate(180deg);
}
